:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(0, 0%, 59%);
}

section {
    background-color: hsl(185, 75%, 39%);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

.circle-top {
    position: absolute;
    bottom: 150px;
    right: 150px;
    z-index: -1;
}

.circle-btm {
    position: absolute;
    top: 150px;
    left: 150px;
    z-index: -1;
}

.card-main {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    background: white;
    overflow: hidden;
    text-align: center;
}

.card-header {
    background-image: url(images/bg-pattern-card.svg);
    background-size: white;
    height: 150px;
}

.card-body {
    padding: 0 20x 0 30px;
}

.card-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid white;
    overflow: hidden;
    margin: -50px auto 10px auto;
}

.profile-name {
    font-size: 1rem;
    margin-bottom: 10px;
    color: black;
}

.profile-age {
    font-weight: 400;
    opacity: 0.5;
}

.city-name {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.card-footer {
    border-top: 1px solid hsl(0, 3%, 86%);
    display: flex
        /* Make item side by side */
}

.item {
    flex: 1;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4 {
    color: black;
}